/* Header con sombra y borde */
header {
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-bottom: 1px solid #ddd; /* Borde inferior gris claro */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Estilo para las secciones de la navbar */
.nav-link.nav {
    color: #000; /* Letras negras */
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out; /* Transición para el efecto */
}

.nav-link.nav:hover::after {
    content: "";
    position: absolute;
    top: 0; /* Línea en el borde superior */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red; /* Línea roja */
    transition: all 0.3s ease-in-out; /* Efecto de aparición */
}

/* Estilo para el botón INTRANET */
.btn-intranet {
    background-color: #E12428 !important; /* Fondo rojo */
    color: #ffffff; /* Texto blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    transition: all 0.3s ease-in-out; /* Transición para el efecto */
}

.btn-intranet:hover {
    background-color: #0568A6 !important; /* Fondo azul al pasar el cursor */
    color: #fff; /* Texto blanco */
    transform: scale(1.1); /* Efecto de crecimiento */
}