<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INTRANET SERVIMANEF E.I.R.L.</title>
  <link rel="shortcut icon" th:href="@{/media/LOGO_SH.png}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/styles-Intranet.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="modern-login-bg">
        <div class="modern-login-card">
            <img th:src="@{/media/LOGO.png}" alt="Logo de SERVIMANEF E.I.R.L." class="modern-login-logo">
            <h1 class="modern-login-title">INTRANET SERVIMANEF E.I.R.L.</h1>
            <form th:action="@{/intranet/login}" method="post" class="modern-login-form">
                <div th:if="${param.error}" style="color:red;">Usuario o contraseña incorrectos</div>
                <div class="modern-login-group">
                    <label for="username" class="modern-login-label">Usuario</label>
                    <input type="text" class="modern-login-input" id="username" name="username" required placeholder="Correo electrónico">
                </div>
                <div class="modern-login-group">
                    <label for="password" class="modern-login-label">Contraseña</label>
                    <input type="password" class="modern-login-input" id="password" name="password" required placeholder="Contraseña">
                </div>
                <div class="modern-login-checkbox-group">
                    <input type="checkbox" id="checkbox" name="remember" class="modern-login-checkbox">
                    <label for="checkbox" class="modern-login-checkbox-label">Recordarme</label>
                </div>
                <button type="submit" class="modern-login-btn" id="loginButton">Ingresar</button>
            </form>
            <div class="modern-login-back">
                <a th:href="@{/}" class="modern-login-btn-back">Volver</a>
            </div>
        </div>
    </div>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>