*{
    margin: 0;
    padding: 0;
}

.btn-intranet {
    background-color: #E12428 !important;
    color: white !important;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    transition: all 1.7s ease;
}

.btn-intranet:hover {
    background-color: #0568A6 !important;
    color: white !important;
    border-color: #0568A6;
}
.nav-link.nav {
    position: relative;
    color: #0568A6;
    padding-bottom: 0.5rem; /* Espacio para la línea */
  }
  
  .nav-link.nav:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; 
    background-color: #E12428; 
  }
  

.container-body {
    text-align: center;
    margin-top: 30px;
}

.logo img{
    max-width: 150px;
    height:auto;
    margin-left: 10px;
}

